<div class="container">
  <ng-container
    *ngIf="productsInput$ | async as result"
    [ngSwitch]="result.dataState"
  >
    <! Result permet de retourner un objet de type AppDataState !>
    <ng-container *ngSwitchCase="dataStateEnum.LOADING">
      Loading ...
    </ng-container>
    <ng-container *ngSwitchCase="dataStateEnum.LOADER">
      <table class="table">
        <tr>
          <th data-toggle="tooltip" data-deplacement="right" title="ID">ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Selected</th>
          <th>Available</th>
        </tr>
        <app-products-item
          [product]="product"
          (productItemEventEmitter)="onActionEvent($event)"
          *ngFor="let product of result.data"
          style="display: contents"
        ></app-products-item>
      </table>
    </ng-container>
    <ng-container *ngSwitchCase="dataStateEnum.ERROR">
      <div class="alert-danger">
        {{ result.errorMessage }}
      </div>
    </ng-container>
  </ng-container>
</div>
